.env
.vscode
package-lock.json
node_modules/
/data/JSON/guildblacklist.json
/data/JSON/userblacklist.json
/data/JSON/tzdb.json
/data/SQL/gideon.sqlite
/data/SQL/gideon.sqlite-shm
/data/SQL/gideon.sqlite-wal